//- start header
nav(class="header sticky-top navbar navbar-expand-lg")
    div(class="container")
        img(src="images/logo/logo.png" alt="logo")
        button(class="bar navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            i(class="fa-solid fa-bars text-white fs-1")
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul(class="barnav navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center")
                li(class="pt-3 pt-lg-0 ps-2 pe-2 nav-item")
                    a(class="text-white nav-link active" aria-current="page" href="#home") Home
                li(class="ps-2 pe-2 nav-item")
                    a(class="text-white nav-link" href="#services") Services
                li(class="ps-2 pe-2 nav-item")
                    a(class="text-white nav-link" href="#portfolio") Portfolio
                li(class="ps-2 pe-2 nav-item")
                    a(class="text-white nav-link" href="#about") About Us
                li(class="ps-2 pe-2 nav-item")
                    a(class="text-white nav-link" href="#contact") Contact
                li(class="ps-2 pe-2 nav-item")
                    a(class="pb-3 pb-lg-2 pe-3 text-white nav-link" href="#blog") Our Blog
                li(class="ps-2 pe-2 nav-item")
                    a(class="nav-item d-none d-lg-block" href="#")
                        i(class="fa-solid fa-magnifying-glass text-white ps-2 pe-2 border-start border-info")
                +button("login")
//- end header