//- bootstrap css file
link(rel="stylesheet" href="css/bootstrap.min.css")
//- fontawesome css file
link(rel="stylesheet" href="css/all.min.css")
//- normalize css file
link(rel="stylesheet" href="css/normalize.css")
//- bondi css file
link(rel="stylesheet" href="css/bondi.css")
//- google font css file
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet")